Repository jtn0123/GOES_VFI, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, gui, pipeline, integrity-check, dependencies, ci/cd, docker, utils, sanchez, file-sorting, performance, security

.github/labeler.yml:

# Configuration for PR Labeler - https://github.com/actions/labeler

# Add 'documentation' label to any change in docs folder
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - docs/**
      - '*.md'
      - '*.rst'

# Add 'tests' label to any change in test files
tests:
  - changed-files:
    - any-glob-to-any-file:
      - tests/**
      - '**/test_*.py'
      - '**/*_test.py'
      - test-requirements.txt

# Add 'gui' label for GUI-related changes
gui:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/gui.py
      - goesvfi/gui_components/**
      - goesvfi/gui_tabs/**
      - tests/gui/**

# Add 'pipeline' label for video processing pipeline changes
pipeline:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/pipeline/**

# Add 'integrity-check' label for satellite data integrity features
integrity-check:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/integrity_check/**
      - tests/integration/test_integrity_*.py
      - tests/unit/test_*integrity*.py

# Add 'dependencies' label for dependency updates
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - requirements.txt
      - test-requirements.txt
      - pyproject.toml
      - setup.py
      - setup.cfg

# Add 'ci/cd' label for workflow changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**
      - .github/*.yml
      - .github/*.yaml

# Add 'docker' label for containerization changes
docker:
  - changed-files:
    - any-glob-to-any-file:
      - Dockerfile
      - docker-compose.yml
      - .dockerignore

# Add 'utils' label for utility changes
utils:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/utils/**

# Add 'sanchez' label for Sanchez integration changes
sanchez:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/sanchez/**
      - goesvfi/pipeline/sanchez_processor.py

# Add 'file-sorting' label for file sorting features
file-sorting:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/file_sorter/**
      - goesvfi/date_sorter/**

# Add 'performance' label for performance-related changes
performance:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/utils/memory_manager.py
      - goesvfi/pipeline/cache.py
      - goesvfi/pipeline/resource_manager.py
      - tests/integration/test_*performance*.py

# Add 'security' label for security-related changes
security:
  - changed-files:
    - any-glob-to-any-file:
      - goesvfi/utils/security.py
      - .github/workflows/*security*.yml
      - '**/test_security*.py'

Add comprehensive linting and testing infrastructure
  run_linters.py
  tox.ini
Labels: none

Fix remaining linting issues and test formatting
  scripts/validate_cicd.py
  test_qt_material_integration.py
  tests/integration/conftest.py
  tests/integration/test_all_gui_elements.py
  tests/integration/test_full_application_workflow.py
Labels: tests

Fix remaining linting issues and test formatting
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  pyproject.toml
  requirements.txt
  test-requirements.txt
Labels: documentation, tests, dependencies, ci/cd

Fix PEP 508 compliance for PyQt6-stubs dependency
  pyproject.toml
Labels: dependencies

Fix safety version constraint for Python 3.13 compatibility
  pyproject.toml
  test-requirements.txt
Labels: tests, dependencies

Implement FFmpeg minterpolate pipeline and tests
  goesvfi/pipeline/run_ffmpeg.py
  tests/integration/test_run_ffmpeg_interpolation.py
Labels: tests, pipeline

Add overlap-aware tiler blending
  goesvfi/pipeline/tiler.py
  tests/unit/test_tiler.py
Labels: tests, pipeline

Remove leftover backup and temp files
  goesvfi/integrity_check/remote/s3_store.py.bak2
  goesvfi/integrity_check/remote/s3_store.py.bak3
  goesvfi/integrity_check/remote/s3_store.py.bak4
  temp
Labels: integrity-check

refactor theming to use qss file
  README.md
  goesvfi/gui_components/resources/styles/default.qss
  goesvfi/gui_components/theme_manager.py
Labels: documentation, gui
